* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    box-sizing: border-box;
    font-style: normal;
}

body {
    background: #E5E5E5;
}

h2 {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    color: #333333;
}

.active {
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;

}

.active p {
    font-weight: 400;
    font-size: 16px;
    color: #333333;
}

.active .arrow {
    background-image: url(./assets/ChevronUp.svg);
    height: 5px;
    width: 10px;
    background-repeat: no-repeat;
    background-size: contain;
}

.wrapper {
    margin-top: 10px;
    width: 280px;
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 0 20px;
}

.wrapper p {
    padding: 20px 0;
}